[Unit]
Description=Talking Flower button-triggered MP3 player
After=sound.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/talking-flower/voice-assistant
ExecStart=/usr/bin/python3 /home/pi/talking-flower/voice-assistant/button_player.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
